.bg-1{
			background-color: #FF9800;
			
		}
		.navbar{
			padding-top: 15px;
	    	z-index: 9999;
			border: 0;
			border-radius: 0;
			margin-bottom: 0;
			font-size: 12px;
			letter-spacing: 5px;
			background-color: #F57C00;
			text-color: #212121;
		}
		.navbar-nav li a:hover{
			color: #00BCD4 !important;
		}
		.navbar li a, .navbar .navbar-brand {
		color: #fff !important;
		}
		.navbar-nav li a:hover, .navbar-nav li.active a {
		color: #f4511e !important;
		background-color: #fff !important;
		}
		.navbar-default .navbar-toggle {
		border-color: transparent;
		color: #fff !important;
		}
		body{
			padding-top: 80px;
		}
		.container-fluid{
			padding-top: 60px;
			padding-bottom: 24px;
			padding-left: 60px;
			padding-right: 60px;
		}
		.container-fluid2{
			
			padding-top: 70px;
			padding-bottom: 24px;
			padding-left: 60px;
			padding-right: 60px;
		}
		.container-fluid3{
			
			padding-top: 24px;
			padding-bottom: 24px;
			padding-left: 60px;
			padding-right: 60px;
		}
		.a.internal{
			color: black;
		}